eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
spring:
  zipkin:
    base-url: http://localhost:9411/
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: true
    sampling:
      probability: 1.0
    propagation:
      type: B3
    export:
      zipkin:
        endpoint: http://localhost:9411/api/v2/spans
logging:
  pattern:
    level: "%5p [%X{traceId:-},%X{spanId:-}]"
  level:
    feign: DEBUG
    org.springframework.cloud.openfeign: DEBUG
    pl.altkom.springcloud.lab05.configserver.projectservice.client: DEBUG
feign:
  client:
    config:
      default:
        loggerLevel: FULL
        requestInterceptors:
          - pl.altkom.springcloud.lab05.configserver.projectservice.client.interceptor.RequestHeaderCustomizerInterceptor
